<mat-tab-group headerPosition="below" mat-align-tabs="center" class="lg:max-w-4xl">
  <mat-tab label="User">
    <div class="h-[calc(100vh-7rem)] w-full px-4 py-2 lg:max-w-4xl"><app-users></app-users></div>
  </mat-tab>
  <mat-tab label="All Channels">
    <div class="h-[calc(100vh-7rem)] w-full px-4 py-2"><app-chat-rooms></app-chat-rooms></div>
  </mat-tab>
  <mat-tab label="Private Chat">
    <div class="h-[calc(100vh-7rem)] w-full px-4 py-2"><app-chat></app-chat></div>
  </mat-tab>
  <mat-tab label="Settings">
    <div class="h-[calc(100vh-7rem)] w-full px-4 py-2">Content 3</div>
  </mat-tab>
</mat-tab-group>