.header {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0 0 0 5%;
    display: flex;
    align-items: center;
    background-color: #E91E63;
    font-weight: bold;
}

mat-card-content {
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
}