<mat-toolbar color="primary" class="flex justify-center">
    <div class="w-full flex justify-between items-center lg:max-w-3xl">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openChannelDialog()">Add Channel</button>
            <button mat-menu-item (click)="openConversationDialog()">Start Conversation</button>
        </mat-menu>
        <span>Slack Clone</span>
    </div>
</mat-toolbar>