mat-card-content {
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;

        button {
            display: none;
            mat-icon {
                display: none;
            }
        }

        h1 {
            margin-left: 7%;
            margin-right: 8px;
        }
    }
}

@media (max-width: 700px) {
    mat-toolbar {
        div {
            button {
                display: unset;
                mat-icon {
                    display: unset;
                }
            }
        }
    }
}