<div class="flex flex-col items-center justify-center">
  <mat-card class="w-72 h-24 m-2 flex justify-center items-center">
    <div class="flex justify-between items-center gap-8">
      <div class="h-12 w-12 flex justify-center items-center"><img class="object-cover" src="assets/img/avatar.png">
      </div>
      <div class="flex flex-col justify-center gap-1">
        <div>User Name</div>
        <div>Online / Offline</div>
      </div>
      <div class="flex flex-col justify-center gap-1">
        <button class="h-6 w-6 flex justify-center items-center"><mat-icon>chat</mat-icon></button>
        <button class="h-6 w-6 flex justify-center items-center"><mat-icon>person_add</mat-icon></button>
      </div>
    </div>
  </mat-card>
</div>