.input-chat-container mat-form-field + mat-form-field {
  margin-left: 0.5rem;
}

.input-chat-container mat-form-field {
  width: 220px;
}

.input-chat-container form {
  margin-bottom: 1.25rem;
}

.input-chat-container form > * {
  margin: 0.75rem 0;
}

.input-chat-container .mat-radio-button {
  margin: 0 0.75rem;
}

.input-chat-form-fields {
  display: flex;
  align-items: flex-start;
}