<div class="flex flex-col items-center justify-center">

  <!-- channel user: -->
  <mat-card class="w-72 h-20 flex justify-between items-center m-2 py-2">
    <div class="flex w-full h-full align-baseline">
      <div class="flex flex-col justify-center items-center mr-4">
        <img class="h-4/5" src="assets/img/avatar.png" alt="" srcset="">
        <div class="h-1/5">Name</div>
      </div>
      <div class="flex flex-col justify-center items-center mr-4">
        <img class="h-4/5" src="assets/img/avatar.png" alt="" srcset="">
        <div class="h-1/5">Name</div>
      </div>
    </div>
  </mat-card>

  <!-- chat/channel: -->
  <mat-card color="primary" class="w-72 flex justify-between items-center m-2">
    <!-- messages user: -->
    <div class="flex flex-row justify-center items-center">
      <img class="h-10 w-10 flex justify-center mr-2" src="assets/img/avatar.png" alt="" srcset="">
      <div class="w-full">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laudantium dolorem harum, quidem in nam
        assumenda. Qui beatae labore magni?
      </div>
    </div>
  </mat-card>

</div>