<div class="login-container mat-elevation-z5">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email adress" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="email?.errors?.['email']"
        >Please enter a correct email format</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <mat-error *ngIf="password?.errors?.['required']"
        >Password is required</mat-error
      >
    </mat-form-field>

    <div class="center">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>

    <div class="left padding-top-16">
      <span>
        New to our platform?<br>
        <a class="sign-up-link" routerLink="sign-up">Sign Up!</a></span
      >
    </div>
    <!-- <div class="center padding-top-16">
      <button (click)="guest()" mat-stroked-button color="primary">
        continue as guest
      </button>
    </div> -->
  </form>
</div>
