mat-toolbar {
    justify-content: space-between;
}

.login-container {
    display: block;
    max-width: 300px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 200px);
    // background: #eceff1;
    padding: 48px;
    border-radius: 16px;

    mat-form-field {
        width: 100%;
    }
}

.center {
    display: flex;
    justify-content: center;
}

.padding-top-16 {
    padding-top:16px;
}

.text-center {
    text-align: center;
}

.sign-up-link {
    font-size: 20px;
    text-decoration: underline;
}