<div class="w-full bg-yellow-500">
  <form [formGroup]="">
    <div class="w-full">
      <mat-form-field class="w-full" appearance="fill" [hideRequiredMarker]="" [floatLabel]="">
        <input matInput placeholder="Simple placeholder" required>
      </mat-form-field>
    </div>
    <div class="flex justify-between">
      <div class="flex w-16 h-16">
        <button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="flex justify-center w-16 h-16">
        <button mat-mini-fab color="accent">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>