<div class="w-full">

  <form (submit)="sendMessage()">
    <div class="w-full">
      <mat-form-field class="w-full" appearance="fill" [hideRequiredMarker]="" [floatLabel]="">
        <input matInput type="text" name="message" placeholder="Message to ..." required [(ngModel)]="message">
      </mat-form-field>
    </div>
    <div class="flex justify-between">
      <div class="flex w-16 h-16">
        <button mat-mini-fab color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="flex justify-center w-16 h-16">
        <button mat-mini-fab color="accent" type="submit" [disabled]="!message">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>