<div class="flex flex-col-reverse items-center py-4 h-full gap-y-4 overflow-auto no-scrollbar bg-violet-500">
  <!-- channel user: -->

  <!-- one message template -->
  <mat-card *ngFor="let message of messageArray" class="w-4/5">
    <mat-card-header>
      <mat-card-title-group class="flex">
        <div class="mr-4">
          <mat-card-title>{{ message.nameSender}}</mat-card-title>
        </div>
        <div>
          <mat-card-subtitle>{{ message.sendTime}}</mat-card-subtitle>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="flex mx-6 gap-4">
        <div class="flex items-center"><img class="w-16 h-16" src={{message.imgSender}}>
        </div>
        <div class="p-4  flex align-middle">
          {{ message.messageSender}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>