<div class="chat-channel">
  <div class="header-current-channel">
    <div class="header-current-channel-left">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="forum">forum</mat-icon>
      <div>ALL CHATS TEMPLATE</div>
    </div>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <div class="header-current-channel-right">
        <mat-icon class="more-horiz">more_horiz</mat-icon>
      </div>
    </button>
  </div>
  <div class="contain-chat-info">
    <div class="contain-chat-info-header">Chatheader</div>
    <div class="contain-chat-info-chatUser">ChatUser, Tom, Maik, Dennis ...</div>
    <div class="contain-chat-info-imagesChatUser">ImagesChatUser
      <img class="images-Chat-User" src="assets/img/avatar.png" alt="" srcset="">
      <img class="images-Chat-User" src="assets/img/avatar.png" alt="" srcset="">
      <img class="images-Chat-User" src="assets/img/avatar.png" alt="" srcset="">
      <img class="images-Chat-User" src="assets/img/avatar.png" alt="" srcset="">
      <img class="images-Chat-User" src="assets/img/avatar.png" alt="" srcset="">
    </div>
  </div>
</div>