<mat-drawer-container class="sidenav">
    <mat-drawer-content>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="color-white">
                  Channels
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <p>Add Channel</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="color-white">
                  Direct Messages
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <p>
                  Start Conversation</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-drawer-content>
</mat-drawer-container>