<mat-drawer-container class="sidenav">
    <mat-drawer-content>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="color-white">
                  Channels
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <button mat-button color="primary" (click)="openChannelDialog()">Add Channel</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="color-white">
                  Messages
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-action-row>
                <button mat-button color="primary" (click)="openConversationDialog()">
                  Start Conversation</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-drawer-content>
</mat-drawer-container>