  <mat-drawer-container *ngIf="isOpen" class="sidenav" autosize>
    <mat-drawer-content>
      <mat-accordion>
        <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Channels
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let channel of allChannels">
            {{channel.name}}
          </div>

          <mat-action-row>
            <button mat-raised-button color="primary" (click)="openChannelDialog()">Add Channel</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Messages
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let conversation of allConversations">
            {{conversation.partnerName}}
          </div>

          <ng-template matExpansionPanelContent></ng-template>

          <mat-action-row>
            <button mat-raised-button color="primary" (click)="openConversationDialog()">
              Start Conversation</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer-content>
</mat-drawer-container>